<app-auth-navbar></app-auth-navbar>
<main style="font-family: 'Inter', sans-serif;">
  <section>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
      <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
      background-image: url('assets/img/hero-image.png');
    ">

      </div>
      <div class="container relative mx-auto" style="padding: 10vh 0vh;">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12   text-center" style="margin-left: 10em;">
            <div class="pr-12 ml-5">
              <h1 class="text-black font-semibold text-4xl" style="text-align: left;
            font-family: 'Inter', sans-serif;">
                Talk to the best software developers now to push accelerate your career. </h1>
              <p class="mt-8 text-sm text-black" style="text-align: left;
          font-family: 'Inter', sans-serif; padding-right: 10em;">
                Ask for early career guidance or technical mentorship right now from expert developers from different
                industries.
              </p>
            </div>
            <div class="flex items-baseline mt-8">
              <button
                class="start-button bg-black text-white font-normal  px-6 py-3 
               outline-none focus:outline-none mr-2 mb-1  hover:shadow-md font-bold text-xs ease-linear transition-all duration-150"
                style="text-align: left;
          font-family: 'Inter', sans-serif;
            " type="button">

                Start Conversation
              </button>
              <a style="cursor: pointer; text-align: left;
            font-family: 'Inter', sans-serif; margin-left: 3em;
            font-size: 0.75rem;
    font-weight: 700;">
                Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-12">
        <div class="w-full lg:w-6/12 px-4" style="
        font-family: 'Inter', sans-serif;">
          <p class="text-lg leading-relaxed m-4 text-black">
            How it works
          </p>
          <h2 style="padding:0rem 1rem ;" class="text-4xl text-black  font-semibold">Just reqest a talk, and start
            one-to-one talk</h2>

        </div>
      </div>
      <div class="flex flex-wrap" style="
      padding: 0px 5rem;
  ">
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0  px-4">
          <div class="px-6">
            <img alt="..." src="assets/img/1.svg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
            <div class="pt-6 text-center">
              <p class="text leading-relaxed text-black">
                Describe your problem or a stage where your career is stuck.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="assets/img/2.svg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
            <div class="pt-6 text-center">
              <p class="text leading-relaxed px-2 text-black">
                Find your instructor or let them find you.
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="assets/img/3.svg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
            <div class="pt-6 text-center">
              <p class="text leading-relaxed text-black">
                Once you’re connected, start the conversation or book a call.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="relative pt-20  flex content-center items-center justify-center min-h-screen-75">

      <div class="container relative mx-auto" >
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-9/12 bg-black text-center" style="margin-left: 10em;padding: 3rem 3rem 0rem 3rem;
          text-align: left;">
             <!-- <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
             background-image: url('assets/img/Growth.png');
           ">
             </div> -->
            <div class=" ml-5">
              <h2 class="w-full lg:w-8/12 text-4xl text-white  font-semibold">
                Build long relationship, starting from a quick chat.</h2>
            </div>
            <div class="flex items-baseline mt-8">
              <button
                class="start-conversation bg-white text-black font-normal  px-6 py-3 
               outline-none focus:outline-none mr-2 mb-1  hover:shadow-md font-bold text-xs ease-linear transition-all duration-150"
                style="text-align: left;
          font-family: 'Inter', sans-serif;
            " type="button">

                Start Conversation
              </button>
              <button
                class="start-button bg-black text-white font-normal   px-6 py-3 
             outline-none focus:outline-none mr-2 mb-1 ml-2  hover:shadow-md font-bold text-xs ease-linear transition-all duration-150"
                style="text-align: left;
        font-family: 'Inter', sans-serif; border: 1px solid #FFFFFF;
          " type="button">

                Become a member
              </button>
            </div>
            <div>
              <img src="assets/img//towards-success.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-20 pb-32">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl text-black font-semibold">Mentors Onboard</h2>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="assets/img/team-1-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Ryan Tompson</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Web Developer
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="assets/img/team-2-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Romina Hadid</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Marketing Specialist
              </p>
      
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="assets/img/team-3-800x800.jpg" class="shadow-lg rounded-full mx-auto max-w-120-px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Alexa Smith</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                UI/UX Designer
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img alt="..." src="assets/img/team-4-470x470.png" class="shadow-lg rounded-full mx-auto max-w-120-px" />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Jenna Kardi</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Founder and CEO
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<app-footer></app-footer>