<div class="container mt-20 mx-auto px-4 h-full">
    <div class="flex content-center items-center justify-center h-full">
        <div class="w-full lg:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6  border-0">
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                    <div class="text-black text-3xl mb-5">
                        Complete your profile
                    </div>
                    <form class="mt-5">

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-black text-xs font-bold mb-2" htmlFor="grid-password">
                                Photo
                            </label>
                            <div style="border: 1px dashed black;display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 200px;
                            height: 200px;
                            border-radius: 100%;">
                                <div class="fa fa-upload" style="position: absolute;text-align: center;
                              ">
                                    <p style="    width: 60%;
                                margin-left: auto;
                                margin-right: auto;">Choose file or Drag and Drop</p>
                                </div>
                                <input class="p-8" type="file" id="myfile" name="myfile">

                            </div>

                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-black text-xs font-bold mb-2" htmlFor="grid-password">
                                Job Title
                            </label>
                            <select class="form-control w-full">
                                <option disabled>Select Website</option>
                                <option>ABC</option>
                                <option>VFD</option>

                                <!-- <option *ngFor="let web of websiteList">{{web}}</option>   -->
                            </select>
                        </div>

                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-black text-xs font-bold mb-2" htmlFor="grid-password">
                                Organization
                            </label>
                            <input type="text"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                placeholder="Organization" />
                        </div>


                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-black text-xs font-bold mb-2" htmlFor="grid-password">
                                About
                            </label>
                            <input type="text"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                placeholder="About" />
                        </div>
                        <div class="relative w-full mb-3">
                            <label class="block uppercase text-black text-xs  mb-2" htmlFor="grid-password">
                                <span class="font-bold">Skils </span> <span class="text-light ml-1"> (Enter comma seprated)</span>
                            </label>
                            <input type="text"
                                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                                placeholder="For example - Angular, JAVA, Python" />
                        </div>

                        <!-- 
              <div>
                <label class="inline-flex items-center cursor-pointer">
                  <input id="customCheckLogin" type="checkbox"
                    class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded" />
                  <span class="ml-2 text-sm font-semibold text-blueGray-600">
                    I agree with the
                    <a href="javascript:void(0)" class="text-red-600">
                      Privacy Policy
                    </a>
                  </span>
                </label>
              </div> -->

                        <div class="text-center mt-6">
                            <button
                                class="bg-black text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                                type="button">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>